{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% csrf_token %}
    {% if user.id  %}
    <p>ログインしました．</p>
    <p>こんにちは，{{ user.username }}さん</p>
    <a href="{% url 'games:logout' %}">ログアウトする</a>
    {% else %}
    <a href="{% url 'games:login' %}">ログイン</a>
    <a href="{% url 'games:create_account' %}">アカウント作成</a>
    {% endif %}
</body>
</html>